<header class="bg-dark py-6">
  <div class="container px-6">
      <div class="row gx-4 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="display-6 fw-bolder text-white mb-2">Country viewer made in Angular 13 by Leiner Barrios</h1>
                  <p class="lead fw-normal text-white-50 mb-4">LeiCountries App is a small project made in Angular that through the rest countries API allows you to search and view information about most countries in the world. This project has Bootstrap styles, Observables are handled, Debouncer is used for the search bar, Routing is also used to manage routes and much more.</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" (click)="getStarted()">Get Started</a>
                      <a class="btn btn-outline-light btn-lg px-4" href="https://github.com/Devipt-leiner/Lei-Countries-App" target="_blank"><i class="bi bi-github"></i> Repository</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><a href="https://www.linkedin.com/in/leinerbarrios/" target="_blank"><img style="cursor: pointer;" class="img-fluid rounded-3 my-5 animate__animated animate__pulse" width="50%" src="/assets/leiner.jpg" alt="..." /></a></div>
      </div>
  </div>
</header>
