<div class="animate__animated animate__fadeInDown">
  <h2>By Country</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-input-country
        [placeHolder]="'Search country...'"
        (onEnter)="search($event)"
        (onDebounce)="suggestions($event)"
        ></app-input-country>
    </div>
  </div>

  <ul *ngIf="showSuggestions" class="list-group">
    <li *ngFor="let country of countriesSuggested" style="cursor: pointer;" class="list-group-item list-group-item-action">
      <a class="nav-link" [routerLink]="['/country', country.cca2]">{{ country.name.common }}</a>
    </li>
    <li style="cursor: pointer;" class="list-group-item list-group-item-action">
      <a (click)="searchSuggested(term)" class="nav-link">Buscar {{ term }}</a>
    </li>
  </ul>

  <hr>

</div>


<div *ngIf="thereIsError" class="alert alert-danger animate__animated animate__zoomIn animate__faster">
  <p>Nothing was found with the term "{{ term }}"</p>
</div>

<div *ngIf="countries.length > 0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
